<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>000000000000-dummyiosclient.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.000000000000-dummyiosclient</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>000000000000-dummyandroidclient.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>A12345678901234567890123456789012345678</string>
	<key>GCM_SENDER_ID</key>
	<string>000000000000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webkul.bagistoApp.iOS</string>
	<key>PROJECT_ID</key>
	<string>placeholder-firebase-project</string>
	<key>STORAGE_BUCKET</key>
	<string>placeholder-firebase-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:000000000000:ios:1234567890abcdef12345678</string>
</dict>
</plist>
